* {
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
.typo {
  padding-top: 0.4%;
  text-transform: uppercase;
}

svg {
  margin-top: 40px;
  height: 460px;
  width: 350px;
  min-width: 860px;
  min-height: 500px;
  font-family: sans-serif;
  font-size: 10;
  text-anchor: middle;
  align-items: center;
}
.node--internal circle {
  fill: #555;
}
.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 rgb(157, 24, 24),
    -1px 0 0 rgb(79, 16, 16);
}
.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}
